@import '@fontsource-variable/inter';

@font-face {
  font-family: 'Minecraft Dungeons';
  src: url('@/assets/fonts/minecraft-dungeons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}